<form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Simbolo" aria-label="Simbolo" matInput [formControl]="myControlSimbolo" [matAutocomplete]="autoSimbolo">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Nombre" aria-label="Nombre" matInput [formControl]="myControlxNamex" [matAutocomplete]="auto">
  </mat-form-field>

</form>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option.simbolo }}-{{ option.name }}
  </mat-option>
</mat-autocomplete>

<mat-autocomplete #autoSimbolo="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option.simbolo }}
  </mat-option>
</mat-autocomplete>

<button md-fab class="fab-add">
  <mat-icon>add</mat-icon>
</button>
<a href="//www.google.com" mat-fab>
  <mat-icon>check</mat-icon>
</a>